<div class="caja1">

  <div>
    <p class="texto1">Ingresa tu código de verificación recuerda que estará <br> disponible por 15 minutos</p>
  </div>

  <div class="form-group">
      <form [formGroup]="form" (ngSubmit)="saveData()">


<div class="caja2">
  <div class="form-outline mb-4 form">
      <mdb-form-control>
          <input mdbInput type="text"  class="form1" formControlName="pin1" />
          <label mdbLabel class="form-label" for="cedula"></label>
      </mdb-form-control>
    </div>


    <div class="form-outline mb-4 form">
      <mdb-form-control>
          <input mdbInput type="text" class="form2" formControlName="pin2" />
          <label mdbLabel class="form-label" for="cedula"></label>
      </mdb-form-control>
    </div>


    <div class="form-outline mb-4 form">
      <mdb-form-control>
          <input mdbInput type="text"  class="form3" formControlName="pin3" />
          <label mdbLabel class="form-label" for="cedula"></label>
      </mdb-form-control>
    </div>

    <div class="form-outline mb-4 form">
      <mdb-form-control>
          <input mdbInput type="text"  class="form4" formControlName="pin4" />
          <label mdbLabel class="form-label" for="cedula"></label>
      </mdb-form-control>
    </div>

  </div>


<div class="boton1">
  <button class="btn1" type="submit">Continuar</button>

</div>

<p class="texto4"> Si tu código no ha llegado solicitado de nuevo</p>

</form>
  <button class="btn2">Solicitar código</button>

</div>
