<div class="caja1">

      <div class="hola">
      <p class="texto1">Confirmanos donde se encuentra el equipo que escaneaste. </p>
    </div>
      <p class="cuenta">Cuenta</p>
      <p class="direccion">Dirección</p>

  <!-- Checked switch -->

  <div class="caja2">
    <div>
      <div class="text2">
        <label class="switch">
            <input type="checkbox" type="checkbox" role="switch" name="flexRadioDefault" id="flexSwitchCheckDefault">
            <span class="slider round"></span>
            </label>
          </div>
          <label class="form-check-label label1" for="flexSwitchCheckChecked">66678</label>
          <label class="form-check-label label2" for="flexSwitchCheckChecked">CR 67 N***</label>
    </div>
<hr class="linea">
    <div >
      <div>
      <div class="text1">
        <label class="switch">
          <input type="checkbox" type="checkbox" role="switch" name="flexRadioDefault" id="flexSwitchCheckDefault" >
          <span class="slider round"></span>
        </label>
        </div>
        <label class="form-check-label label3" for="flexSwitchCheckChecked">66678</label>
        <label class="form-check-label label4" for="flexSwitchCheckChecked">CR 67 N***</label>
      </div>
    <div class="boton">
      <button type="button" class="btn0" routerLink="/address">Cancelar</button>
      <button type="button" class="btn1" routerLink="/equipment">Continuar</button>
    </div>
    </div>
</div>
