@import "../../../../assets/theme/variables.scss";

.btn {
  border-radius: 26px;
  color: $white;
  border: none;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  padding: 12px 35px;
  margin: 0 6px;
}

.bg-red {
  background: $red;
}

.bg-gray {
  background: $gray;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-dark {
  background: $black;
}
