<div class="container">
  <mat-card class="card">
    <div class="card__title">
      <p>{{title}}</p>
    </div>
    <div *ngIf="!redBtnText">
      <form [formGroup]="pinForm" (ngSubmit)="validatePin()" novalidate>
        <div class="box" max-length-group>
          <input type="number" formControlName="pin1" class="mr20" #num1 maxlength="1"  [next]="num2" />
          <input type="number" formControlName="pin2" class="mr20" #num2 maxlength="1" [prev]="num1" [next]="num3" />
          <input type="number" formControlName="pin3" class="mr20" #num3 maxlength="1" [prev]="num2" [next]="num4" />
          <input type="number" formControlName="pin4" #num4 [prev]="num3" maxlength="1" />
        </div>
        <div class="card__actions">
          <app-button class="app-button" buttonClass="{{pinForm.invalid?'btn bg-light-gray':'btn bg-red'}}" buttonDisabled="{{pinForm.invalid}}">Continuar</app-button>
        </div>
      </form>
      <div class="footer mt30"> 
        <p class="text">Si tu código no ha llegado, solicítalo de nuevo.</p>
        <app-button class="app-button" (click)="generatePin()" buttonClass="btn bg-gray">Solicitar Código</app-button>
      </div>
    </div>
    
    <div class="card__actions-col" *ngIf="redBtnText">
      <app-button class="app-button mb20" (click)="btnAction()" buttonClass="btn bg-red">{{redBtnText}}</app-button>
      <app-button class="app-button" routerLink="/" buttonClass="btn bg-gray" buttonDisabled="false">Finalizar</app-button>
    </div> 
  </mat-card>
</div>
