@import "../../../../../assets/theme/variables.scss";
.card {
  .box {
    text-align: center;
    input {
      border: none;
      border-bottom: 1px solid #464646;
      width: 14%;
      font-weight: 500;
      color: $black;
      font-size: 30px;
      text-align: center;
      outline: none;
      padding: 8px 0;
    }
  }
  .footer{
    text-align: center;
    .text {
      font-size: 16px;
      color: $black-text;
      margin: 0 25px 20px;
      text-align: center;
    }
  }
}
