<div class="caja1">

  <div>
    <p class="texto1">Porfavor selecciona tipo de documento  y  digite el <br>número de documento del titular  de la cuenta</p>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1" class="texto2">Tipo de documento</label>
      <form [formGroup]="form" (ngSubmit)="saveData()">
  <div class="form-outline mb-4">
      <select class="form-select" aria-label="Default select example" formControlName="tipo_cedula">
          <option value="CC">CC</option>
          <option value="CE">CE</option>
      </select>
  </div>

    <label class="texto3">Número de documento</label>

  <div class="form-outline mb-4 form">
      <mdb-form-control>
          <input mdbInput type="text" id="cedula" class="form-control" formControlName="cedula" />
          <label mdbLabel class="form-label" for="cedula"></label>
      </mdb-form-control>

  <button class="btn0">Cancelar</button>



  <button class="btn1 ">Continuar</button>
  </div>



</form>
</div>
