@import "../../../../../assets/theme/variables.scss";
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  p{
    margin-bottom: 22px;
    color: #464646;
    font-size: 16px;
  }
  .info-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
      margin-bottom: 0;
      padding-left: 18px;
    }
  }
  input{
    background: $white;
    padding: 12px;
    font-size: 14px;
    letter-spacing: 0px;
    outline: none;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    color: $dark-gray;
    width: 100%;
    text-align: center;
  }
  .toggle{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 20px;
    .blue-text{
      color: #1D97E3;
      font-size: 15px;
      font-weight: bold;
      margin: 0;
    }
    ::ng-deep {
      .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
        background-color: rgba(0, 0, 0, 0.2);
      }
    
      .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
        background-color: #d8291d;
      }
    
      span.mat-slide-toggle-bar {
        height: 23px;
        border-radius: 12px;
        .mat-slide-toggle-thumb-container {
          top: 2px !important;
          left: 1px !important;
        }
      }
    }
  }
}

.info-content{
  text-align: center;
  width: 80%;
  .bold-info{
    font-size: 18px;
    margin-bottom: 40px;
  }
  p{
    margin-bottom: 22px;
    color: #464646;
    font-size: 16px;
  }
  .red-text{
    margin-top: 40px;
    color: $red;
    font-size: 27px;
  }
}


