<mat-dialog-content>
  <div class="content">
    <img class="icon" *ngIf="data.icon" src="assets/images/{{data.icon}}">
    <p *ngIf="data.title" class="title">{{data.title}}</p>
    <p class="text">{{data.text}} <span *ngIf="data.redLabel" class="red-text">{{data.redLabel}}</span> <span *ngIf="data.nextText" class="text"> {{data.nextText}}</span></p>
    <p class="text" *ngIf="data.text2">{{data.text2}}</p>
    <p *ngIf="data.boldText"><b>{{data.boldText}}</b></p>
    <img *ngIf="data.img" src="assets/images/{{data.img}}" />
  </div>

</mat-dialog-content>
<div class="dialog-actions">
  <button [mat-dialog-close]="true">{{data.redText}}</button>
</div>
